[Desktop Entry]
Name=Facebook
Comment=Makes your Facebook data available in KDE
Type=AkonadiResource
Exec=akonadi_facebook_resource
Icon=facebookresource
X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_facebook_resource
