[Desktop Entry]
Name=Facebook
Name[cs]=Facebook
Name[da]=Facebook
Name[de]=Facebook
Name[es]=Facebook
Name[et]=Facebook
Name[nds]=Facebook
Name[nl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[sv]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
Comment=Makes your Facebook data available in KDE
Comment[da]=Gør dine Facebook-data tilgængelige i KDE
Comment[de]=Stellt Ihre Facebook-Daten in KDE zur Verfügung
Comment[es]=Hace que sus datos de Facebook estén disponibles en KDE
Comment[et]=Oma Facebooki andmete kättesaadavaks  tegemine KDE-s
Comment[nds]=Stellt Dien Facebook-Daten in KDE praat.
Comment[nl]=Maakt uw Facebook gegevens beschikbaar in KDE
Comment[pt]=Torna os seus dados do Facebook disponíveis no KDE
Comment[pt_BR]=Torna os seus dados do Facebook disponíveis no KDE
Comment[sv]=Gör data från Facebook tillgänglig i KDE
Comment[uk]=Робить доступними дані Facebook у KDE
Comment[x-test]=xxMakes your Facebook data available in KDExx
Type=AkonadiResource
Exec=akonadi_facebook_resource
Icon=facebookresource
X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_facebook_resource
