[Desktop Entry]
Name=VKontakte
Name[nl]=VKontakte
Name[pt]=VKontakte
Name[pt_BR]=VKontakte
Name[x-test]=xxVKontaktexx
Comment=Makes your VKontakte data available in KDE
Comment[nl]=Maakt uw VKontakte gegevens beschikbaar in KDE
Comment[pt]=Disponibiliza os seus dados do VKontakte no KDE
Comment[pt_BR]=Disponibiliza os seus dados do VKontakte no KDE
Comment[x-test]=xxMakes your VKontakte data available in KDExx
Type=AkonadiResource
Exec=akonadi_vkontakte_resource
Icon=vkonakteresource
X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vkontakte_resource
